@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bodoni";
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --orange: #ff8303;
  --bg: #f0ece3;
  --bg2: #4c2207;
  --bg3: #cc5500;
  --bg4: #9b430e;
  --light: #ffffff;
  --link: #f5c89c;
}

section {
  padding: 3rem 3% 1rem;
  min-height: 100vh;
}

span {
  color: var(--bg3);
}

body {
  position: relative;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

header {
  background: var(--bg2);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  margin-left: 10px;
}

nav a {
  color: var(--light);
  font-size: 1.2rem;
  margin-left: 2rem;
  transition: 0.2 ease-in-out;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 1px;
  background: var(--orange);
  transition: width 0.2s ease-in-out;
}

nav a:hover {
  color: var(--orange);
}

.logo {
  font-size: 2.5rem;
  color: var(--orange);
  font-weight: 800;
}

#menu-burger {
  font-size: 3.6rem;
  cursor: pointer;
  color: var(--light);
  display: none;
}

.unicap {
  position: relative;
  justify-content: center;
  align-items: center;
}

.unicap-content-a h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.unicap-content-b h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.unicap-content-c h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.unicap-content-d h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.unicap-content-a {
  margin: 5px 5px 5px 5px;
  padding: 5px;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
}

.unicap-content-a p {
  padding: 0.5px;
  margin-top: 8px;
  color: black;
}

.unicap-content-b {
  margin: 30px;
  padding: 10px;
  border-radius: 1rem;
  line-height: 1.2;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: left;
  background: var(--link);
}

.unicap-content-b ul {
  margin: 3px 2px;
  padding: 10px;
  font-weight: 500;
}

.unicap-content-b ul li {
  margin: 3px 2px 2px 3px;
  padding: 5px;
  font-size: 1.1rem;
  list-style: decimal inside;
}

.unicap-content-b p {
  font-size: 1.3rem;
  margin-top: 8px;
  color: black;
  text-align: center;
}

.unicap-content-c {
  margin: 30px;
  padding: 10px;
  border-radius: 1rem;
  line-height: 1.2;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: left;
}

.unicap-content-c ul {
  margin: 3px 2px;
  padding: 10px;
  font-weight: 500;
}

.unicap-content-c ul li {
  margin: 3px 2px 2px 3px;
  padding: 5px;
  font-size: 1.1rem;
  list-style: decimal inside;
}

.unicap-content-c p {
  font-size: 1.1rem;
  margin-top: 8px;
  color: black;
}

.unicap-content-d {
  margin: 5px 5px 5px 5px;
  padding: 10px;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
}

.unicap-content-d p {
  padding: 0.5px;
  margin-top: 8px;
  color: black;
}

.unicap-content-d a {
  color: var(--black);
  text-decoration: none;
}

.unicap-content-d a:hover {
  color: var(--bg3);
  text-decoration: underline;
}

.slider {
  width: 95%;
  max-width: 1200px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 0 auto;
}

.slides {
  width: 300%;
  height: 100%;
  display: flex;
  animation: defilement 15s infinite;
}

.slide {
  width: 100%;
  max-width: 1300px;
  height: 600px;
  object-fit: cover;
  flex-shrink: 0;
}

.slides-text-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(rgba(129, 129, 129, 0.1), #f0ece3);
  flex-direction: column;
}

.slides-text-layer p {
  font-size: 2rem;
  color: var(--bg3);
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

footer {
  background: var(--bg2);
  color: var(--light);
  padding: 40px 0 0 0;
  margin-top: 40px;
  font-size: 1.3rem;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
  gap: 15px;
}

.footer-content1,
.footer-content2,
.footer-content3 {
  flex: 1 1 300px;
  margin-bottom: 30px;
  min-width: 20px;
}

.footer-content1 h3,
.footer-content2 h3,
.footer-content3 h3 {
  color: var(--orange);
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.footer-content1 p,
.footer-content3 P {
  margin-bottom: 10px;
}

.footer-content2 ul.liste {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content2 ul.liste li {
  margin-bottom: 8px;
}

.footer-content2 ul.liste li a {
  color: var(--light);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-content2 ul.liste li a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.footer-txt {
  background: var(--bg3);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: none;
  }

  #menu-burger {
    display: block;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: var(--bg2);
    padding: 20px 0;
  }

  .slider {
    max-width: 98vw;
    height: 220px;
  }

  .slide {
    max-width: 98vw;
    height: 220px;
    display: flex;
    animation: defilement 15s infinite;
  }

  .slides-text {
    font-size: 1.1rem;
    bottom: 10px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
    gap: 5px;
  }

  .footer-content1,
  .footer-content2,
  .footer-content3 {
    width: 100%;
    text-align: center;
  }

  .footer-content2 ul.liste {
    display: inline-block;
  }
}
